* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("Assets/pics/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    position: relative;
    top: 0;
}


.main .box {
    height: 70vh;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.44;
}

/* for nav bar */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80vw;
    position: relative;
    z-index: 10;
}

nav img {
    padding-top: 13px;
    width: 167px;

}

nav span {
    color: white;
}

nav button {
    background-color: red;
    color: white;
    padding: 7px 9px;
    border-radius: 6px;
}

/* mid data */
.mid {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

.mid> :nth-child(1) {
    font-weight: 900;
    font-size: 56px;
    width: 40%;
    /* margin: auto; */
    text-align: center;
}

.mid> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
}

.mid> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

/* mail input and button */
.mail {
    display: flex;
    gap: 2px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 10;
    color: white;
}

.mail input {
    padding: 14px 30px 14px 14px;
    border: 1px solid white;
    border-radius: 7px;
    width: 231px;
    background: none;
}

.mail input::placeholder {
    color: white;
    opacity: 0.6;
}

.mail button {
    font-size: 16px;
    background-color: red;
    border-radius: 7px;
    padding: 12px 30px;
    color: white;
    font-weight: bolder;
}

.seperator {
    background-color: #858585; /* darker grey, closer to Netflix’s divider */
    height: 8px;
    width: 100%;
    border: none;
}


.first div :nth-child(1){ 
    background-image: url(https://occ-0-1881-64.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZFBdXweIqorvQIPkQbuKg9rFcZJJ8yCUzSX1ySYOsmrcMeUgLlY3YWvFcXee7lFjHwMT_Ofd03ttH-rTzAHPZskA6K-f4imBAY.webp?r=81d);
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-repeat: no-repeat;
} 
